<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- etiqueta <p></p> para escribir un párrafo -->
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. In iure dolorem possimus pariatur.
      Voluptatem, unde. Dicta eius voluptas magni quas neque, sint necessitatibus distinctio odit,
      tenetur dolore possimus autem debitis.
    </p>
    <!-- etiqueta <span></span> para escribir un texto de una sola línea -->
    <span>Texto de una sola línea</span>

    <!-- etiquetas h para crear títulos -->
    <h1>Este es un título principal h1</h1>
    <h2>Este es un h2</h2>
    <h3>Este es un h3</h3>
    <h4>Este es un h4</h4>
    <h5>Este es un h5</h5>
    <h6>Este es un h6</h6>

    <!-- etiquetas input para ingresar informacion -->
    <label>
      Ingrese su nombre
      <input placeholder="ingrese un texto" />
    </label>
    <input type="number" />
    <input type="date" />
    <input type="file" />
    <input type="email" />
    <input type="password" />
    <input type="radio" />
    <input type="checkbox" />
    <button>Esto es un botón</button>
  </body>
</html>
